<!-- Navbar -->
<div class="bottom-navbar">
  <a href="/" class="nav-item home active">
    <div class="icon-wrapper"><i class="fas fa-home"></i></div>
    <span>Home</span>
  </a>
  <a class="nav-item active" onclick="goToInput(); return false;">
    <i class="fas fa-search"></i>
    <span>Search</span>
  </a>
  <a href="/lagu/index.html" class="nav-item active">
    <i class="fas fa-music"></i>
    <span>Chord</span>
  </a>
  <a href="/tunning.html" class="nav-item active">
    <i class="fas fa-sliders-h"></i>
    <span>Tuning</span>
  </a>
</div>
