<footer style="margin-bottom: 90px;" class="bg-dark text-white text-center py-3 mt-3 ">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- COPYRIGHT -->
        <p class="mb-1" style="font-size:.85rem; font-style:italic; color:#00ff00;">
          &copy; 2024–2025 Chord Dasar &amp; Lirik Lagu.
        </p>

        <!-- POLICY & TERMS -->
        <ul class="list-inline mb-3" style="font-size:.85rem;">
          <li class="list-inline-item">
            <a href="/privacy.html" class="text-white text-decoration-underline">
              Kebijakan Privasi
            </a>
          </li>
          <li class="list-inline-item">|</li>
          <li class="list-inline-item">
            <a href="/temrs.html" class="text-white text-decoration-underline">
              Syarat &amp; Ketentuan
            </a>
          </li>
        </ul>

        <!-- SOCIAL ICONS -->
        <div>
          <a href="https://www.facebook.com/profile.php?id=100093961165463"
              class="text-white mx-2">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://wa.me/6287841947229" target="_blank" class="text-white mx-2">
            <i class="fab fa-whatsapp fa-lg"></i>
          </a>
          <a href="https://instagram.com" class="text-white mx-2">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</footer>
