<div class="">
  <h2 class="text-center mb-3">Daftar Lagu Pilihan</h2>
  <div class="" id="random-links"></div>
</div>

<div id="all-links" class="hidden">
  <p class="content-divider text-success"><a href="/lagu/nangi-dana-tambora.html">Nangi Dana Tambora</a></p>
  <p class="content-divider"><a href="/lagu/sapa-moti-malingi.html">Sapa Moti Malingi</a></p>
  <p class="content-divider"><a href="/lagu/pasole.html">Pasole</a></p>
  <p class="content-divider"><a href="/lagu/nahu-mambali.html">Nahu Ma Mbali</a></p>
  <p class="content-divider"><a href="/lagu/pasapu-monca.html">Pasapu Monca</a></p>
  <p class="content-divider"><a href="/lagu/malingi.html">Malingi</a></p>
  <p class="content-divider"><a href="/lagu/ngahi-rawi-pahu.html">Nggahi Rawi Pahu</a></p>
  <p class="content-divider"><a href="/lagu/tambulate.html">Tambulate</a></p>
  <p class="content-divider"><a href="/lagu/janji-da-ule.html">Janji Da Ule</a></p>
  <p class="content-divider"><a href="/lagu/amancawa.html">Amancawa</a></p>
  <p class="content-divider"><a href="/lagu/sodi-angi.html">Sodi Angi</a></p>
</div>
