/* Style untuk bottom-navbar (gunakan @apply untuk Tailwind) */
    .bottom-navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(17, 24, 39);
      /* bg-gray-900 */
      border-top: 1px solid rgb(55, 65, 81);
      /* border-gray-700 */
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 4rem;
      /* h-16 */
      z-index: 50;
    }

    @media (min-width: 1024px) {
      .bottom-navbar {
        display: none;
      }
    }

    .bottom-navbar .nav-item {
      @apply flex flex-col items-center justify-center text-gray-400 p-2 text-xs transition-colors duration-200;
    }

    .bottom-navbar .nav-item i {
      @apply text-xl mb-1;
    }

    .bottom-navbar .nav-item.active {
      @apply text-blue-400;
      /* Warna aktif */
    }